<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <a href="http://localhost:3000/api/stats">stats</a>
    <a href="http://localhost:3000/api/stats/:status">complete</a>
    <a href="http://localhost:3000/api/stats/incomplete">incomplete</a>
    <a href="http://localhost:3000/api/stats/:id">select one</a>
    <a href="http://localhost:3000/api/stats/:eat">update</a>
    <a href="http://localhost:3000/api/stats/:eatdelete">delete</a>
  </body>
</html>
